@font-face {
  font-family: 'Title';
  font-style: normal;
  font-weight: 400;
  src: local('NotoSansCJKJP-Regular'), url(../fonts/notosanscjkjp/NotoSansCJKjp-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Title';
  font-style: normal;
  font-weight: 400;
  src: local('Yanone Kaffeesatz Regular'), local('YanoneKaffeesatz-Regular'), url(../fonts/yanonekaffeesatz/YDAoLskQQ5MOAgvHUQCcLbvy90DtE_Pg_qiF9bHvTzw.ttf) format('truetype');
}

@font-face {
  font-family: 'Title';
  font-style: normal;
  font-weight: 700;
  src: local('NotoSansCJKJP-Medium'), url(../fonts/notosanscjkjp/NotoSansCJKjp-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Title';
  font-style: normal;
  font-weight: 700;
  src: local('Yanone Kaffeesatz Bold'), local('YanoneKaffeesatz-Bold'), url(../fonts/yanonekaffeesatz/We_iSDqttE3etzfdfhuPRUgbSk09ekaEjkXjfj0Ujx8.ttf) format('truetype');
}

